{%  extends 'br/base.html' %}

{% block content %}
    <h1>Main page</h1>
    <p>Welcome to «Book review» main page</p>

    {% if paginator.count %}

        <h1>Most anticipating books:</h1>
        <ul>
            {% for book in anticipated_books %}

                <li>{% include 'br/book_bar.html' %}</li>

            {% endfor %}
        </ul>

        {% include 'br/pagination.html' %}

    {% else %}

        <h1>No books are anticipated at the moment</h1>

    {% endif %}


{% endblock content %}
