{% if review.owner == request.user %}
    <p>
        <a href="{% url 'br:edit_review' review.book.id review.book.slug %}">Edit my review</a>
        <a href="{% url 'br:delete_review' review.book.id review.book.slug %}">Delete my review</a>
    </p>
    {% if request.path != '/my_reviews/' %}
        <h3><a href="{% url 'br:my_reviews' %}">{{review.owner.username|title}}</a> {{review.pub_date}}</h3>
    {% else %}
        <h3>{{review.pub_date}} on <a href="{{review.book.get_absolute_url}}">{{review.book.title}}</a></h3>
    {% endif %}

{% else %}
    <h3>{{review.owner.username|title}} {{review.pub_date}}</h3>
{% endif %}

<p>Rating: {{review.rating}}/5</p>
<h4>{{review.title}}</h4>
<p>{{review.text}}</p>
