<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content='true' name='HandheldFriendly'>
        <meta content='width' name='MobileOptimized'>
        <meta content='yes' name='apple-mobile-web-app-capable'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="text-primary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras. Risus sed vulputate odio ut enim blandit volutpat. Pellentesque massa placerat duis ultricies lacus sed. Elit sed vulputate mi sit amet mauris commodo. Quam quisque id diam vel quam elementum pulvinar. Proin sed libero enim sed. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Magna ac placerat vestibulum lectus. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod.
        </div>

        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras. Risus sed vulputate odio ut enim blandit volutpat. Pellentesque massa placerat duis ultricies lacus sed. Elit sed vulputate mi sit amet mauris commodo. Quam quisque id diam vel quam elementum pulvinar. Proin sed libero enim sed. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Magna ac placerat vestibulum lectus. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Sem viverra aliquet eget sit amet tellus cras. Dui vivamus arcu felis bibendum ut tristique et egestas quis. Et egestas quis ipsum suspendisse. Neque laoreet suspendisse interdum consectetur libero id. Semper quis lectus nulla at volutpat diam ut venenatis tellus. Leo integer malesuada nunc vel risus commodo.
        </div>

        <div class="row g-0">

            <div class="col" style="background-color: blue;">
                <span class="text-nowrap">
                    Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit
                </span>
            </div>

            <div class="col-auto" style="background-color: yellow">
                Lorem ipsum
            </div>

        </div>
    </div>
    <div class="p-3 w-50">
        <form class="d-inline">
            <div class="input-group">
                <input type="text" placeholder="Book, author, genre, year..." class="form-control">
                <button type="submit" class="btn btn-success ms-1">Search</button>
            </div>
        </form>
    </div>
</body>
</html>
