/*disable default ul style*/
ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000E6;
}

/*link style*/
.text-link:link {
    color: #1A1A1A;
}

.text-link:visited {
    color: #1A1A1A;
}

.text-link:focus {
    color: blue;
}

.text-link:hover {
    color: orange;
}

.text-link:active {
    color: brown;
}

/*Navigation links*/
.navigation-link {
    color: #000000E6;
    padding: 8px 4px 5px 4px;
    margin: 0 4px;
    border-bottom: 3px solid white;
}
.navigation-link:hover {
    color: #666666;
    border-bottom: 3px solid #999999;
}
.current-navigation-link {
    border-bottom: 3px solid green;
}

@media screen and (max-width: 992px) {
    .navigation-link {
        border-bottom: none;
    }
    .navigation-link:hover {
        border-bottom: none;
    }
    .current-navigation-link {
        color: green;
        border-bottom: none;
    }
}

/*Pagination links*/
.pagination-item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.current-pagination {
    background-color: green;
    color: white;
}

.pagination-ellipsis {
    background-color: white;
}

.pagination-number-link:hover {
    color: #000000E6;
    background-color: #99999933;
}

.pagination-arrow-link:hover {
    color: gray;
}


/*Footer links*/
.footer-link {
    color: #000000E6;
    padding: .5rem 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.footer-icon-link {
    font-size: 24px;
    color: #686868;
}




/*hide a part of text in read more/read less blocks*/
.textContinuation {
    display: none;
}

/*disable default asterisk on labels by django-crispy-forms*/
.asteriskField {
    display: none;
}

/*bootstrap form-control class changes*/
.form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    } 

/*search form decor*/
.search-form:focus {
        border-color: lightgray;
        box-shadow: none;
    } 

